<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Information</title>
    <link rel="stylesheet" type="text/css" href="/static/seller.css">
</head>
<body>
    <form class="form">
        <p class="title">Seller Information </p>
       
            <div class="flex">
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Firstname</span>
            </label>
    
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Lastname</span>
            </label>
        </div>  
                
        <label>
            <input required="" placeholder="" type="email" class="input">
            <span>Email</span>
        </label> 
            
        <label>
            <input required="" placeholder="" type="password" class="input">
            <span>Password</span>
        </label>
        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Book Name</span>
        </label>
        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Author</span>
        </label>
        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Description</span>
        </label>
        <div class="dropdown">
            <button class="dropbtn">Select year of College</button>
            <div class="dropdown-content">
            <a href="#">First Year</a>
            <a href="#">Second Year</a>
            <a href="#">Third Year</a>
            <a href="#">Final Year</a>
            <a href="#">General</a>
            </div>
          </div>
        
        <button class="submit">Add Book</button>
        
    </form>
    
</body>
</html>